<div class="col-md-12 portlet portlet_form">

	<div class="col-sm-12 col-md-12">
		<div class="row">
			
			<div class="col-md-12">
				<form action="#">
					
					<div class="goto_left">
						<h3>General Information</h3>
					</div>
					
					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Registration Type:</label>  
						<div class="col-xs-8 col-sm-8 col-md-10"> 
							<label class="radio-inline" for="Training-0">
								<input type="radio" name="reg_type" id="individual"  checked="checked">
								Individual
							</label> 
							<label class="radio-inline" for="Training-1">
								<input type="radio" name="reg_type" id="group">
								Group
							</label>
							<span class="help-block"> </span> 
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Full name:*</label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="Insert your Full Name" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>


					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">First name:*</label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="Insert your First Name" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Username:*</label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="Insert your Username" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Password:*</label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="Insert your Password" class="form-control input-md" required="" type="password">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Cofirm Password*</label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="Insert your Password Back" class="form-control input-md" required="" type="password">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Email*</label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="Insert your Email" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Phone Number*</label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="Insert your Phone Number" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Address*</label> 
						<div class="col-xs-8 col-sm-8 col-md-10"> 
							<textarea placeholder="Enter Address Here.." rows="3" class="form-control"></textarea>
							<span class="help-block"> </span> 
						</div>
					</div>

						
						

					<!-- Multiple Radios (inline) -->

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Your Position:*</label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="Insert your Your Position name" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					
					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Grade Position:*</label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="Insert your Grade Position" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Organization:*</label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="Insert your Organization Name" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					

					<div class="form-group">
					  <label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Gender</label>  
					  <div class="col-xs-8 col-sm-8 col-md-10"> 
					    <label class="radio-inline" for="Training-0">
					      <input type="radio" name="gender" id="male"  checked="checked">
					      Male
					    </label> 
					    <label class="radio-inline" for="Training-1">
					      <input type="radio" name="gender" id="female">
					      Female
					    </label>
					    <span class="help-block"> </span> 
					  </div>
					</div>

					
					
					<div class="goto_left">
						<h3>Background Knowledge</h3>
					</div>

					
					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="course">Operating System Knowledge</label>
						<div class="col-xs-8 col-sm-8 col-md-10">
							<select id="course" name="course" class="input-xlarge">
								<option>ZERO KNOWLEDGE</option>
								<option>LOW</option>
								<option>MOERATE</option>
								<option>HIGH</option>
							</select>
							<span class="help-block"> </span>
							<br>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="course">Programming Knowledge</label>
						<div class="col-xs-8 col-sm-8 col-md-10">
							<select id="course" name="course" class="input-xlarge">
								<option>ZERO KNOWLEDGE</option>
								<option>LOW</option>
								<option>MOERATE</option>
								<option>HIGH</option>
							</select>
							<span class="help-block"> </span>
							<br>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="course">Database Knowledge</label>
						<div class="col-xs-8 col-sm-8 col-md-10">
							<select id="course" name="course" class="input-xlarge">
								<option>ZERO KNOWLEDGE</option>
								<option>LOW</option>
								<option>MOERATE</option>
								<option>HIGH</option>
							</select>
							<span class="help-block"> </span>
							<br>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="course">Security & Networking</label>
						<div class="col-xs-8 col-sm-8 col-md-10">
							<select id="course" name="course" class="input-xlarge">
								<option>ZERO KNOWLEDGE</option>
								<option>LOW</option>
								<option>MOERATE</option>
								<option>HIGH</option>
							</select>
							<span class="help-block"> </span>
							<br>
						</div>
					</div>

					<div class="col-md-12 buttom">
						<div class="">
							<div class="col-md-6 goto_left">
								<button type="button" class="btn btn-default btn_cancel">Cancel</button>
							</div>

							<div class="col-md-6 goto_right">
								<button type="button" class="btn btn-primary btn_submit">Submit</button>
							</div>
						</div>
					</div>
					
				</form>
			
			</div>
			
		</div>
	</div>

</div>