<div class="col-md-12 portlet portlet_form">

	<div class="col-sm-12 col-md-12">
		<div class="row">
			
			<div class="col-md-12">
				
				<form action="#">

					<br>
					
					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Full name* : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">First name* : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Last name* : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Username* : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Password* : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="password">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Confirm password* : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="password">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Email address* : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="email">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Username* : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Gender* : </label>  
						<div class="col-xs-8 col-sm-8 col-md-10"> 
							<label class="radio-inline" for="Training-0">
								<input type="radio" name="gender" id="male"  checked="checked">
								Male
							</label> 
							<label class="radio-inline" for="Training-1">
								<input type="radio" name="gender" id="female">
								Female
							</label>
							<span class="help-block"> </span> 
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Address* : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Phone number* : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Background Knowledge : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Upload CV : </label>  
						<div class="col-xs-8 col-sm-8 col-md-10">
							<div class="row">
								<div class="col-md-8">
									<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="text">
								</div>
								<div class="col-md-4">
									<button type="button" class="btn btn-default">Select Files...</button>
									<br><br>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-12 buttom">
						<div class="">
							<div class="col-md-6 goto_left">
								<button type="button" class="btn btn-default btn_cancel">Cancel</button>
							</div>

							<div class="col-md-6 goto_right">
								<button type="button" class="btn btn-primary btn_submit">Submit</button>
							</div>
						</div>
					</div>
					
					</form>
			
			</div>
			
		</div>
	</div>

</div>