<div class="col-md-12 portlet portlet_form">

	<div class="col-sm-12 col-md-12">
		<div class="row">
			
			<div class="col-md-12">
				
				<form action="#">

					<br>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Training batch : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Project name : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Project members : </label>  
							<div class="col-xs-8 col-sm-8 col-md-10">
								<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="text">
								<span class="help-block"> </span> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="textinput">Project Documents : </label>  
						<div class="col-xs-8 col-sm-8 col-md-10">
							<div class="row">
								<div class="col-md-8">
									<input id="textinput" name="textinput" placeholder="" class="form-control input-md" required="" type="text">
								</div>
								<div class="col-md-4">
									<button type="button" class="btn btn-default">Select Files...</button>
									<br><br>
								</div>
							</div>
						
							<table class="table">
								<thead>
									<tr>
										<th class="col-md-2">No</th>
										<th class="col-md-8">Uploaded Documents</th>
										<th class="col-md-2">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Form 1.docx</td>
										<td>
											<button type="button" title="Details" class="btn btn-primary"><i class="fa fa-file" aria-hidden="true"></i> View</button>
											<button type="button" title="Edit" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
											<button type="button" title="Delete" class="btn btn-warning" data-toggle="modal" data-target=".btn_delete_popup"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
										</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Planning Part 1.docx</td>
										<td>
											<button type="button" title="Details" class="btn btn-primary"><i class="fa fa-file" aria-hidden="true"></i> View</button>
											<button type="button" title="Edit" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
											<button type="button" title="Delete" class="btn btn-warning" data-toggle="modal" data-target=".btn_delete_popup"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
										</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Planning Part 2.docx</td>
										<td>
											<button type="button" title="Details" class="btn btn-primary"><i class="fa fa-file" aria-hidden="true"></i> View</button>
											<button type="button" title="Edit" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
											<button type="button" title="Delete" class="btn btn-warning" data-toggle="modal" data-target=".btn_delete_popup"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="course">Domain selection : </label>
						<div class="col-xs-8 col-sm-8 col-md-10">
							<select id="course" name="course" class="input-xlarge">
								<option>PHP</option>
								<option>JAVA</option>
							</select>
							<span class="help-block"> </span>
							<br>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="course">Coach selection : </label>
						<div class="col-xs-8 col-sm-8 col-md-10">
							<select id="course" name="course" class="input-xlarge">
								<option>Mohd Asri bin Muhammad</option>
								<option>Hamidon Basri</option>
							</select>
							<span class="help-block"> </span>
							<br>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-xs-4 col-sm-4 col-md-2 control-label" for="course">Date request  : </label>
						<div class="col-xs-8 col-sm-8 col-md-10">
							<select id="course" name="course" class="input-xlarge">
								<option>22 Jun 2017</option>
								<option>24 Jun 2017</option>
							</select>
							<span class="help-block"> </span>
							<br>
						</div>
					</div>


					<div class="col-md-12 buttom">
						<div class="">
							<div class="col-md-6 goto_left">
								<button type="button" class="btn btn-default btn_cancel">Cancel</button>
							</div>

							<div class="col-md-6 goto_right">
								<button type="button" class="btn btn-primary btn_submit">Submit</button>
							</div>
						</div>
					</div>
					
					
					
					
					</form>
			
			</div>
			
		</div>
	</div>

</div>