<div class="col-md-12 portlet_index">

	<div class="content">
		<div class="index_header">
			<div class="col-md-6 title">
			</div>
			<div class="col-md-6 button">
				<button type="button" class="btn btn-primary btn_add"><i class="fa fa-plus" aria-hidden="true"></i> New</button>
				
			</div>
		</div>
		
		<!-- -- popup -- -->
		<div class="modal fade bs-example-modal-lg btn_delete_popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content">
					<div class="modal-title">
						<div class="title"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete User</div>
					</div>
					<div class="modal-body">
						<div class="content">Are you sure to delete this user?</div>
					</div>
					<div class="modal_button">
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
					</div>
				</div>
			</div>
		</div>
		<!-- -- popup -- -->
		
		<div class="index_table">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Address and Contact</th>
						<th>Background</th>
						<th>Status</th>
						<th>Scoring Average</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>

</div>